:root {
  --background-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-color-black: #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-color: #ececec;

  --card-set-gap: 30px;

  --main-fonts: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway', sans-serif;
}
/* ====================== components================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.body {
  /* width: 1600px;
  border: 1px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  margin-left: 100px; */

  font-family: var(--main-fonts);
  background-color: var(--background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 95px;
  padding-bottom: 95px;
}

/* ====================== end components================ */

/* ======================header================ */
.header {
  border-bottom: 1px solid var(--border-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-navigation {
  display: flex;
}

.logo-dark-theme {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-color-black);
}

.logo-light-theme {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.logo-item {
  color: var(--accent-color);
}
.logo-dark-theme {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  display: flex;
  margin-left: 90px;
}

.navigation-list .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list .link.current {
  color: var(--accent-color);
}

.contact-list {
  margin-left: auto;
  display: flex;
}
.contact-list .contact-item + .contact-item {
  margin-left: 50px;
}
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ====================== end header================ */

/* ====================== Hero================ */

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.main-title {
  box-sizing: border-box;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.modal-btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
  font-family: inherit;
  text-shadow: var(--text-shadow);
  text-shadow: var(--text-shadow);
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid var(--secondary-bcg-color);
}
/* ====================== end hero================ */

/* ====================== Features================ */

.features-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.features-list .features-item + .features-item {
  margin-left: var(--card-set-gap);
}

.features-item {
  box-sizing: border-box;
  font-size: calc((100% / 4- 30px));
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.features-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ====================== end Features================ */

/* ====================== Work================ */
.work {
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.work-title {
  text-align: center;
}

.work-list {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.work-list .work-item + .work-item {
  margin-left: var(--card-set-gap);
}

img {
  display: block;
  max-width: 100%;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* ====================== end Work================ */

/* ====================== Team=============== */
.team {
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--secondary-bcg-color);
}

.team-card {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.team-card .team-item + .team-item {
  margin-left: var(--card-set-gap);
}

.team-item {
  font-size: calc(100% / 4)-30px;

  background-color: var(--background-color);

  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-text-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-text {
  margin-top: 15px;

  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ====================== end Team================ */

/* ====================== Footer================ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--footer-bcg);
}

.map-address {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* ====================== end Footer================ */

/* ====================== PAGE PORTFOLIO================ */
.portfolio {
  margin-left: auto;
  margin-right: auto;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.portfolio-item {
  flex-basis: calc(100% / 3- var(--card-set-gap));

  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfollio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.portfolio-card {
  text-align: start;
  padding: 20px 24px;

  border: 1px solid var(--border-color);
}

.radio-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--secondary-bcg-color);
  color: var(--title-text-color);

  cursor: pointer;

  border: none;
  border-radius: 4px;
}

.radio-btn:hover,
.radio-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* ====================== END PAGE PORTFOLIO================ */
