:root {
  --background-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-color-black: #000000;

  --main-fonts: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway', sans-serif;
}
/* ====================== components================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.body {
  font-family: var(--main-fonts);
  background-color: var(--background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
  margin-left: auto;
  margin-right: auto;
}

/* ====================== end components================ */

/* ======================header================ */

.header-nav {
  background-color: teal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 215px;
  margin-right: 215px;
}
.main-navigation {
  display: flex;
}

.logo-dark-theme {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-color-black);
}

.logo-light-theme {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.logo-item {
  color: var(--accent-color);
}
.logo-dark-theme {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  display: flex;
  margin-left: 90px;
}

.navigation-list .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list .link.current {
  color: var(--accent-color);
}

.contact-list {
  margin-left: auto;
  display: flex;
}
.contact-list .contact-item + .contact-item {
  margin-left: 50px;
}
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ====================== end header================ */

/* ====================== Hero================ */

.hero {
    text-align: center;
    background-color: tomato;
    }
  
.main-title {
  box-sizing: border-box;
  width: 700px;
   
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  /* color: var(--secondary-text-color); */
}

.modal-btn {
  min-width: 200px;
  p

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
  font-family: inherit;
}

/* ====================== end hero================ */

/* ====================== Features================ */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ====================== end Features================ */

/* ====================== Work================ */
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* ====================== end Work================ */

/* ====================== Team=============== */
.team {
  background-color: var(--secondary-bcg-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ====================== end Team================ */

/* ====================== Footer================ */
.footer {
  background: var(--footer-bcg);
}
.map-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* ====================== end Footer================ */

/* ====================== PAGE PORTFOLIO================ */
.radio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--secondary-bcg-color);
  color: var(--title-text-color);

  cursor: pointer;
}

.radio-btn:hover,
.radio-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.portfollio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* ====================== END PAGE PORTFOLIO================ */
